@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,800&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a:hover {
    color: #fdbfb3;
}

.submenu {
    display: flex;
    align-self: right;
}

.menuframe {
    width: 0px;
    background: #efefef;
    padding-top: 124px;
    flex-shrink: 0;
    display: flex;
    transition: all .5s;
    overflow: hidden;
}

.menuframe.open {
    width: 320px;
}

.burgermenu {
    width: 320px;
    flex-direction: column;
}

.burgermenu div {
    padding: 12px 12px 0px 12px;
    display: flex;
    flex-direction: column;
}

.burgermenu > .menuBurger {
    flex-direction: row;
}

.menuBurger > div > .arrow {
    height: 30px;
    position: relative;
    left: 8px;
}

.burgermenu > div > a {
    width: 100%;
    transition: .1s;
    opacity: 0;
    font-size: 28px;
    font-weight: 700;
    border-bottom: 1px solid;
}

.submenu a {
    color: #626289;
}

.submenu a:hover {
    color: #fdbfb3;
}

.burgermenu > div > a.subcat {
    font-size: 22px;
    color: #fdbfb3;
    margin: 6px 0 6px 20px;
    padding: 0 0 0 12px;
}

.burgermenu > div > a.subcat:hover {
    color: #626289;
}

.burgermenu > .additionalMenu {
    margin: 16px 0 16px 0;
    display: flex;
    flex-direction: column;
}

.additionalMenu > a {
    color: #107595;
}

.additionalMenu > a:hover {
    color: #fdbfb3;
}

.chillSidebar {
    margin: 18px 0 0 0;
    font-size: 22px;
    padding: 0 8px 0 0;
}

.container {
    padding: 26px 0 0 0;
    display: grid;
    grid-template-columns: minmax(0px, 1fr) minmax(120px, 2fr) 140px minmax(120px, 2fr) minmax(0px, 1fr);
    grid-template-rows: 180px auto;
    margin: 0;
    transition: .5s;
}

header {
    grid-column: 2 / span 3;
    display: grid;
    grid-template-columns: 370px auto;
    grid-template-rows: 60px 54px 50px;
    font-size: 28px;
}

.logo {
    grid-row: 1 / span 2;
    margin-left: -6px;
    font-size: 120px;
    font-weight: 700;
    line-height: .8em;
    letter-spacing: -.06em;
    background: #ffffff;
    transition: all .8s;
    cursor: pointer;
}

.mobileBurger {
    display: none;
    position: relative;
    top: -2px;
}

.hollowD {
    height: 81px;
    position: relative;
    /* top: 9px; */
    left: 7px;
}

.sticky {
    position: fixed;
    padding-bottom: 20px;
    padding-top: 20px;
    top: 0;
    width: 100%;
}

.sticky + .subtitle {
    padding-top: 68px;
}

.subtitle {
    grid-row: 2 / 3;
}

.menu {
    grid-column: 1 / -1;
    display: flex;
    padding: 0;
}

.menuItems {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu.open > .menuItems {
    width: 96%;
}

.menuItems > div {
}

.hamburger {
    width: 80px;
    overflow: hidden;
    transition: all .4s;
} 

.burgerButton, .mainBurger {
    height: 30px;
    transition: 1s;
    cursor: pointer;
}

.arrow {
    cursor: pointer;
}

main {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: minmax(0px, 1fr) minmax(120px, 2fr) 140px minmax(120px, 2fr) minmax(0px, 1fr);
    grid-template-rows: repeat(3, 40px 300px 18px);
    grid-auto-flow: dense;
}

.category {
    grid-column: span 1;
    padding: 8px;
    font-size: 18px;
    color: #ffffff;
    background: #626289;
}

.teal {
    background: #107595;
}

.pink {
    background: #fdbfb3;
}

.yellow {
    background: #fcf594;
}

.purple {
    background: #626289;
}

.spacer {
    grid-column: span 1;
    padding: 0;
}

.title {
    padding: 12px;
    font-size: 36px;
    font-weight: 800;
}

.title.left {
    grid-column: 2 / 3;
    padding-left: 0px;
}

.title.right {
    grid-column: 4 / span 1;
    padding-right: 0px;
}

.title:hover a {
    color: #000000;
    opacity: .6;
}

.photo {
    background: #626289;
    background-size: cover;
    background-position-y: 20%;
    grid-row: span 2;
}

.photo.right {
    grid-column: 3 / -1;
}

.photo.left {
    grid-column: 1 / 4;
}

.gap {
    grid-column: 1 / -1;
}

footer {
    grid-column: 2 / span 3;
    background: #626289;
    display: grid;
    grid-template-columns: 340px auto;
    padding: 40px 0 44px 0;
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
}

.iterationInfo {
    padding: 6px 0 0 0;
}

.iterationInfo > span {
    font-weight: normal;
}

.connect {
    text-align: right;
}

.input {
    position: relative;
    top: 6px;
    display: inline;
}

.input > input {
    height: 20px;
    width: 360px;
    background: #626289;
    border: 0;
    border-bottom: 3px solid #ffffff;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    font-size: 24px;
    padding-top: .8em;
    position: relative;
}

.input > label {
    font-weight: normal;
    position: absolute;
    top: 6px;
    left: 0px;
    font-size: 24px;
    opacity: .8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

label div {
    transition: all .6s;
}

.input input:focus + label .signup,
.input input:valid + label .signup {
    opacity: 0;
}

.icon {
    height: 20px;
    position: relative;
    top: 2px;
}

.connect > div {
    margin: 40px 0 0 0;
}

.connect > div > img {
    height: 34px;
    margin: 0 0 0 16px;
}

.footerBottom {
    grid-column: span 2;
    padding: 44px 0 44px 0;
    font-weight: normal;
    font-size: 24px;
    display: flex;
    align-items: flex-end;
}

.footerBottom > div {
    flex: 1 6 auto;
}

.footerBottom > .bottomLogo {
    font-size: 120px;
    font-weight: 700;
    line-height: .8em;
    letter-spacing: -.06em;
    flex: 5 0 400px;
}

.footerBottom > .bottomLogo > img {
    position: relative;
    top: 1px;
    left: 7px;
}


@media (max-width: 1200px) {

    .container, main {
        grid-template-columns: 40px minmax(120px, 2fr) 140px minmax(120px, 2fr) 40px;
    }

    .subtitle {
        font-size: 24px;
    }

    .title {
        font-size: 30px;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .connect {
        text-align: left;
        margin-top: 30px;
    }

    .footerBottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .footerBottom > .bottomLogo {
        flex-basis: auto;
    }
}

@media (min-width: 900px) {
    
    .squooshed {
        grid-template-columns: minmax(0px, .25fr) minmax(120px,2fr) 140px minmax(120px, 2fr) minmax(0px, .5fr)
    }
   
}

@media (max-width: 900px) {

    .noScroll {
        overflow: hidden;
    }

    .menuframe {
        position: fixed;
        width: 100%;
        height: 0px;
        padding-top: 0px;
    }

    .menuframe.open {
        width: 100%;
        top: 160px;
        z-index: 997;
        height: 100vh;
    }

    .menu {
        padding: 0px 6px 0px 6px;
    }

    .menu.open {
        position: fixed;
        margin-left: -6px;
        padding: 20px 6px 20px 10px;
        top: 100px;
        width: 100%;
        z-index: 997;
        background: #ffffff;
    }

    .burgermenu {
        width: 50%;
    }

    .container, main {
        grid-template-columns: 6px minmax(120px, 2fr) 140px minmax(120px, 2fr) 6px;
    }

    .container {
        padding: 120px 0 0 0;
        grid-template-rows: 200px auto;
    }

    header {
        display: flex;
        flex-direction: column;
    }

    .logo {
        font-size: 100px;
        padding-left: 12px;
        margin-left: -6px;
    }

    .hollowD {
        height: 74px;
        left: 6px;
        top: 2px;
    }

    .mobileBurger {
        display: inline;
        position: relative;
        z-index: 999;
    }

    .hamburger {
        display: none;
    }

    .menuBurger {
        display: none;
    }

    .menuBurger > div {
        display: none;
    }

    .subtitle {
        padding: 20px 4px 20px 4px;
    }

    .title {
        font-size: 30px;
    }

    .category {
        font-size: 16px;
        padding: 9px;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    .connect {
        text-align: left;
        margin-top: 30px;
    }

    .footerBottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .footerBottom > .bottomLogo {
        flex-basis: auto;
    }
}

@media (max-width: 600px) {
    .container, main {
        grid-template-columns: 6px minmax(120px, 2fr) 90px minmax(120px, 2fr) 6px;
    }

    .chillSidebar {
        color: #efefef;
    }

    header {
        grid-column: 1 / -1;
        font-size: 20px;
    }

    .logo {
        font-size: 80px;
    }

    .logo .hollowD {
        height: 54px;
        left: 5px;
        top: 0px;
    }

    .category {
        grid-column: span 2;
    }

    .title {
        font-size: 24px;
    }

    .title.left {
        grid-column: 2 / 4;
    }
    
    .title.right {
        grid-column: 3 / 5;
    }
    
    .photo.right {
        grid-column: 4 / -1;
    }
    
    .photo.left {
        grid-column: 1 / 3;
    }

    .input input {
        width: 82%;
    }

    .input > label {
        font-size: 16px;
    }
/*

    footer {
        grid-column: 1 / -1;
    } */

}